<div id="email-component" class="input-component mb-3">
    <label for="email" class="form-label>">Email address</label>
    <input type="email" class="form-control" id="email">
    <div class="invalid-feedback">Invalid email.</div>
</div>
<div id="password-component" class="input-component mb-3">
    <label for="password" class="form-label>">Password</label>
    <input type="password" class="form-control" id="password">
    <div class="invalid-feedback">Invalid password.</div>
</div>
<button id="submit" type="submit" class="btn btn-primary btn-block">Submit</button>
